{% extends 'public/layout.html.twig' %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-md-8">
                <h1>Register</h1>
                <form action="{{ path('registration_register') }}" method="post" class="bg-white rounded shadow-5-strong p-5">
                    <!-- Email input -->
                    <div class="form-outline mb-4" data-mdb-input-init>
                        <input type="email" id="username" name="_username" required
                               class="form-control"/>
                        <label class="form-label" for="username">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4" data-mdb-input-init>
                        <input type="password" id="password" name="_password" required class="form-control"/>
                        <label class="form-label" for="password">Password</label>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="row mb-4">
                        <div class="col">
                            Already have account? <a href="{{ url('security_login') }}">Login</a>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block" data-mdb-ripple-init>Sign in</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}